<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/github.png" id="github"></a>
            <button type="button" class="btn btn-outline-light">login</button>
            <button type="button" class="btn btn-outline-light">Light</button>
        </div>
    </div>
</div> 
<div class="row">
    <p id="nombre">{{persona.nombre}} Panero</p>
</div>